* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 1920px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* --------------------- NAGŁÓWEK */

.main-navigation {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-navigation .logo {
  margin-right: 76px;
}

.main-list:not(:last-child) {
  margin-right: 40px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4D5AE5;
  text-transform: uppercase;
  display: inline-block;
}

.first-navi,
.second-navi {
  display: flex;
  padding: 24px 0;
}

.first-navi .main-link{
  font-weight: 500;
}

.main-link {
  color: #2E2F42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web {
  color: #2e2f42;
}

.main-address {
  font-style: normal;
}

.second-navi .main-link {
  color: #434455;
}

.main-link:hover,
.main-link:focus,
.logo:hover,
.logo:focus {
  color: #404BBF;
  text-decoration: underline;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------- FIRST SECTION*/

.main-button:hover,
.main-button:focus {
  background-color: #404BBF;
  cursor: pointer;
}

.main-section {
  background-color: #2E2F42;
  color: #FFF;
  text-align: center;
  padding: 188px 0 188px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.main-button {
  display: block;
  min-width: 169px;
  Padding: 16px 32px;
  margin: 0 auto;
  background-color: #4D5AE5;
  border-radius: 4px;
  border: none;
  color: #FFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------- SECOND SECTION*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.plan-lists {
  display: flex;
  gap: 24px;
}

.plan-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.text-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2E2F42;
}

/* --------------------- THIRD SECTION*/

.our-team {
  background-color: #F4F4FD;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2E2F42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team-lists {
  display: flex;
  gap: 24px;
}

.our-team-list {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.our-team-names {
  padding: 32px 0;
}

.our-team-names .text-title,
.our-team-names .text {
  text-align: center;
}

.social-links {
  display: flex;
  margin: 0 16px 32px 16px;
  gap: 24px;
  justify-content: center;
}

.social-link {
  height: 40px;
}

.social-linka {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-linka:hover,
.social-linka:focus {
  background-color: #404bbf;
}


.social-icon {
  width: 40px;
  height: 40px;
  background-color: #4F5AE5;
  fill: #f4f4fd;
  border-radius: 50%;
}

/* --------------------- FOURTH SECTION*/

.our-portfolio-lists {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.our-portfolio-list {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-names {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-list .text {
  margin-bottom: 8px;
}

.aplication-image {
  overflow: hidden;
  position: relative;
}

.aplication-text {
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
}

.aplication-image:hover .aplication-text {
  transform: translateY(0);
}

/* --------------------- FOOTER*/

.info {
  background-color: #2E2F42;
  color: #F4F4FD;
  padding: 100px 0;
}

.info .web {
  color: #F4F4FD;
}

.info .logo {
  margin-bottom: 16px;
}

.info-text {
  width: 264px;
}

.info .container {
  display: flex;
  align-items: baseline;
}

.footer-social-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.info .social-links {
  gap: 16px;
}

.info-container {
  margin-right: 120px;
}

.info .social-link {
  height: 40px;
}

.footer-link {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.info .social-icon {
  fill: #f4f4fd;
}

.subscribe {
  margin-left: 80px;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: #fff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  padding-left: 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.04em;
}

.subscribe-input::placeholder {
  color: #fff;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  text-align: left;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover {
  background-color: #404bbf;
}

.social-icon-frame {
  margin-left: 16px;
  fill: #fff;
}

/* --------------------- MODAL*/

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-button:hover .social-icon-close,
.close-button:focus .social-icon-close {
  fill: #fff;
}

.modal-text {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.modal-label {
  color: #8e8f99;
  font-size: 12px;
  margin-bottom: 8px;
}

.modal-input {
  border-radius: 4px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus .social-icon-modal {
  fill: #4d5ae5;
}

.modal-textarea {
  width: 360px;
  height: 120px;
  resize: none;
  padding-left: 16px;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-policy {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.6667;
  letter-spacing: 0.04em;
}

.modal-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-checkbox {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  position: relative;
  top:2px;
  cursor: pointer;
}

.modal-button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 0 auto;
  color: #fff;
  border: none;
  margin: 24px 0 0 95px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: #404bbf;
}

.social-icon-modal {
  position: relative;
  z-index: 998;
  top: 40px;
  left: -22px;
}
.display-none {
  /* display: none; */
}